<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand bg-dark text-light"  >Consulta de Imagenes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">      
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="auth.user$ | async as user" [routerLink]="['profile']">Listado Exclusivo</a>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link text-light" *ngIf="auth.user$ | async as user" [routerLink]="['mantenimiento']">mantenimiento</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" *ngIf="auth.user$ | async as user" [routerLink]="['reportes']">Reportes</a>
          </li>

        </ul>
        <form class="d-flex">
    
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
              Log out
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Log in</button>
          </ng-template>
        </form>
      </div>
    </div>
  </nav>